/*General*/
* {
    box-sizing: border-box;
    margin:0;
    padding:0
}
html {
    font-size:15px;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}
.text-small {
    font-size: 0.9rem; 
    color:#666666;
}
.text-x-small {
    font-size:0.7rem;
    color:#666666;
}
.text-underline {
    text-decoration: underline;

}
.container {
    position:relative;
    width:100%;
    height:100vh;
}
.top {
    height: 100px;
    width:100%;
    background-color: #056162;
}
.middle {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: lightgrey;
}

.wrap {
    display: flex;
    position:absolute;
    left: 50%;
    top:10%;
    transform:translateX(-50%);
    width: 75%;
    height: 80%;
    background-color: white;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
}

/* General */

.menu-contacts {
    display:flex;
    flex-direction: column;
    width:30%;
    height:100%;
    border-right: 1px solid #cfcfcf;
}

.menu-contacts>div,
.top-user,
.write-message{
    width: 100%;
}

/* Images */
.top-user img,
.contact-name-img img {
    width: 60px;
    padding:10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* Menu contacts*/

.menu-contacts {
    display:flex;
    flex-direction: column;
    width:30%;
    height:100%;
    border-right: 1px solid #cfcfcf;
}

.menu-contacts>div,
.top-user,
.write-message{
    width: 100%;
}

.top-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#EDEDED;
}

.top-user-picture-name {
    display:flex;
    align-items: center;
}
.top-user-activities>.fas {
    padding: 5px 10px 5px 0px;
    color:#919191;
}

/* Notifications */
.notifications {
    display:flex;
    align-items: center;
    background-color: #9DE1FE;
}
.notifications .fas {
    margin:10px;
    padding: 10px;
    font-size: 15px;
    background-color: white;
    color:#9DE1FE;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* Search contacts */
.contacts-search{
    background-color: #F6F6F6;
}
.input-search {
    margin: 10px;
    padding:5px;
    width: calc(100% - 20px);
    height: 25px;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    background-image: url(../img/search-solid.svg);
    background-size:15px;
    background-repeat: no-repeat;
    background-position: 2% 50%;
    text-indent: 20px;

}
.input-search:focus{
    background-image:none;
    text-indent: 0px;
}

/* Contacts */
.contacts-list{
    overflow: scroll;
}
.contact-name-img {
    display:flex;
    align-items:center;
}
.contact-container {
    display: flex;
    justify-content: space-between;
}
.contact-container:hover {
    background-color: rgb(252, 249, 249);
}
.active {
    background-color: rgb(223, 222, 222);
}
.active:hover {
    background-color: rgb(223, 222, 222);
}

/* Section Messages*/
.messages {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    background-image: url(../img/mine.jpg);
    width:70%;
    height:100%;
}

.message-date {
    padding: 10px;
    color: #666666;
}

.send-received-messages {
    height: 100%;
    padding: 30px;
    overflow: scroll;
}
.write-message {
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: #F0F0F0;
}

.write-message>input {
    width: 80%;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.write-message>i {
    margin:  0 20px;
    color: #818181;
    font-size: 20px;
}


.send-messages-right{
    display:flex;
    justify-content: flex-end;
}
.received-messages-left{
    display:flex;
    justify-content: flex-start;
}
.background-green,
.background-white {
    max-width: calc(100% - 100px);
    margin: 10px 0px;
    padding: 10px;
    text-align: left; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.background-green {
    background-color: #DCF8C6; 
}
.background-white {
    background-color: #FFFFFF;
}
.background-green>p,
.background-white>p {
    padding-right: 50px;
}

.text-align-right {
    margin-top: 10px;
    text-align: right;
}
 

/* MediaQuary */
@media all and (max-width: 1160px) {
    html {
        font-size: 13px;
    }
}