/* Milestone 1:
Replica della grafica (immagine in allegato) con la possibilità di avere messaggi scritti dall’utente (verdi) e dall’interlocutore (bianco) assegnando due classi CSS diverse;
Visualizzazione dinamica della lista contatti: tramite la direttiva v-for, visualizzare nome e immagine di ogni contatto, ricavandoli dall'array contacts qui allegato */

* {
    box-sizing: border-box;
    margin:0;
    padding:0
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
.text-small {
    font-size: 14px; 
    color:#666666;
}
.text-x-small {
    font-size:12px;
}
.text-underline {
    text-decoration: underline;

}
.container {
    position:relative;
    width:100%;
    height:100vh;
}
.top {
    height: 100px;
    width:100%;
    background-color: #056162;
}
.middle {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: lightgrey;
}

.wrap {
    display: flex;
    position:absolute;
    left: 50%;
    top:10%;
    transform:translateX(-50%);
    width: 75%;
    height: 80%;
    background-color: white;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
}

.menu-contacts {
    display:flex;
    flex-direction: column;
    width:30%;
    height:100%;
}

.menu-contacts>div {
    width: 100%;
}

.messages {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    background-color: blue;           /*<--- DEBUG!!!!!!*/
    width:70%;
    height:100%;
}

.messages>div {
    width: 100%;
    border: 1px solid white;  /*<--- DEBUG!!!!!!*/
    height: 50px;               /*<--- DEBUG!!!!!!*/
}

/* Images */
.main-user img,
.contact-name-img img {
    width: 60px;
    padding:10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* Menu contacts*/
.main-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#EDEDED;
}

.main-user-picture-name {
    display:flex;
    align-items: center;
}
.main-user-activities .fas {
    padding: 2.5px;
    color:#919191;
}
.notifications {
    display:flex;
    align-items: center;
    background-color: #9DE1FE;
}
.notifications .fas {
    margin:10px;
    padding: 10px;
    font-size: 15px;
    background-color: white;
    color:#9DE1FE;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.contacts-search{
    position:relative;
    background-color: #F6F6F6;
}
.input-search {
    margin: 5px;
    width: calc(100% - 10px);
    height: 25px;

}
.fa-search{
    position:absolute;
    left:10px;
    top: 10px;
    font-size:15px;
    color: #919191;
}
.input-search::placeholder {
   padding-left:40px;
}

.contact-name-img {
    display:flex;
    align-items:center;
}
.contact-container {
    display: flex;
    justify-content: space-between;
}
.message-date {
    padding: 10px;
    color: #666666;
}
 