<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- FontAwsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- My style -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Vue.js -->
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- DayJs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Boolzapp</title>
</head>
<body>
    <div class="container">
        <div class="top">
            <div id="root">
                <div class="wrap">
                    <!-- Menu Contacts -->
                    <section class="menu-contacts">
                        <div class="top-user">
                            <div class="top-user-picture-name">
                                <img src="img/avatar_io.jpg" alt="User">
                                <p>Maria Dulesova</p>
                            </div>
                            <div class="top-user-activities">
                                <i class="fas fa-circle-notch"></i>
                                <i class="fas fa-comment-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                        <div class="notifications">
                            <i class="fas fa-bell-slash"></i>
                            <div class= "text-notifications">
                                <p>Ricevi notifiche di nuovi messaggi</p>
                                <a href="" class="text-small text-underline">Attiva notifiche desktop</a>
                            </div>
                        </div>

                        <div class="contacts-search">
                            <input type="text" 
                            placeholder="Cerca o inizia una nuova chat" 
                            class="input-search"
                            v-model="search">
                        </div>

                        <div class="contacts-list">
                            <ul>
                                <li class="contact-container" 
                                v-for="(contact, index) in filteredContacts"
                                :class="(index == activeIndex) ? 'active' :''"
                                @click = "getActiveContact(index)">
                                    <div class="contact-name-img">
                                        <img :src="getImage(index)" :alt="contact.name">
                                        <div>
                                            <p>{{ contact.name }}</p>
                                            <p class="text-x-small">{{ getLastMessage(index) }}...</p>
                                        </div>
                                    </div>
                                    <div class="message-date"> 
                                        <p class="text-x-small"> {{ getLastMessageDate(index) }} </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!-- /Menu Contacts -->

                    <!-- Messages -->
                    <section class="messages">
                        <!-- Header - Contact -->
                        <div class="top-user">
                            <div class="top-user-picture-name">
                                <img 
                                :src = "getImage(activeIndex)"alt="User">
                                <div>
                                    <p> {{ filteredContacts[activeIndex].name }}</p>
                                    <p class="text-x-small">Ultimo accesso oggi alle {{ getLastMessageDate(activeIndex) }}  </p>
                                </div>
                            </div>
                            <div class="top-user-activities">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                        <!-- /Header - Contact -->

                        <!-- Main-Chat -->
                        <div class="send-received-messages">
                            <div v-for = "(message,index) in filteredContacts[activeIndex].messages"
                            :class="(message.status == 'sent') ? 'send-messages-right' : 'received-messages-left' ">
                                <div :class="(message.status == 'sent') ? 'background-green' : 'background-white'">
                                    <p> {{message.text}} </p>
                                    <div class="text-align-right">
                                        <p class="text-x-small">{{message.date}}</p>
                                    </div>
                                </div>  
                            </div>
                        </div>
                        <!-- /Main-Chatk -->
                        

                        <!-- Footer - Send Message -->
                        <div class="write-message">
                            <i class="far fa-smile"></i>
                            <input type="text" placeholder = "Scrivi un messaggio"
                            v-model = "newSendMessage.text"
                            @keydown.enter = "onKeyDown">
                            <i class="fas fa-microphone"></i>  
                        </div>
                        <!-- /Footer - Send Message -->
                    </section>
                    <!-- /Messages --> 
                </div>
            </div>
        </div> 
        <div class="middle"></div>
    </div>
    
    <!-- Javascript -->
    <script src="js/script.js"></script>
</body>
</html>

<!-- Milestone 1:
Replica della grafica (immagine in allegato) con la possibilità di avere messaggi scritti dall’utente (verdi) e dall’interlocutore (bianco) assegnando due classi CSS diverse;
Visualizzazione dinamica della lista contatti: tramite la direttiva v-for, visualizzare nome e immagine di ogni contatto, ricavandoli dall'array contacts qui allegato  -->

<!-- Milestone 2
Visualizzazione dinamica dei messaggi: tramite la direttiva v-for, visualizzare tutti i messaggi relativi al contatto attivo all'interno del pannello della conversazione
Click sul contatto mostra la conversazione del contatto cliccato -->

<!-- Milestone 3
Aggiunta di un messaggio: l’utente scrive un testo nella parte bassa e digitando “enter” il testo viene aggiunto al thread sopra, come messaggio verde
Risposta dall’interlocutore: ad ogni inserimento di un messaggio, l’utente riceverà un “ok” come risposta, che apparirà dopo 1 secondo. -->

<!-- Milestone 4
Ricerca utenti: scrivendo qualcosa nell’input a sinistra, vengono visualizzati solo i contatti il cui nome contiene le lettere inserite (es, Marco, Matteo Martina -> Scrivo “mar” rimangono solo Marco e Martina)  -->
